* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

body {
  color: #000;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
}

a {
  color: #2983ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

.experience {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--vh);
}

.webgl {
  position: absolute;
  top: 0;
  left: 0;
  outline: none;
}
